.footer {
    float: right;
    position: relative;
    vertical-align: bottom;
}


body {
    background-color: #505050; /*black*/
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

.bigBeautifulTop {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#logo {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    width: 20%;
}

    /*.imageClass {
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-self: flex-start;
}*/

    #logo img {
        width: 100%;
        height: auto;
    }

/*.headerClass {
    display: flex;
    flex-direction: row;
    justify-content: center;
}*/

.newCatBreed {
    display: flex;
    flex-direction: row;
    font-size: 11pt;
    font-family: 'Spartan';
    font-weight: bold;
    border: 5px dotted #FFF5C3;
    background-color: #9BD7D5;
    border-radius: 25px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
}

    .newCatBreed img {
        width: 30%;
        border-radius: 25px;
    }

    .newCatBreed h1 {
        margin-left: 20px;
    }

.newCatBreedRight {
    display: flex;
    flex-direction: row;
    font-size: 11pt;
    font-family: 'Spartan';
    font-weight: bold;
    border: 5px dotted #FFF5C3; /*yellow*/
    background-color: #9BD7D5; /*blue*/
    border-radius: 25px;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    justify-content: flex-end;
}

    .newCatBreedRight img {
        width: 30%;
        border-radius: 25px;
    }

.bigBeautifulTop h1 {
    justify-self: center;
    color: #FF7260; /*pink*/
    font-family: 'Lobster Two';
    font-size: 72pt;
}


#frontpageGif {
    align-self: center;
    width: auto;
}

.description {
    position: relative;
    margin-top: 3%;
    margin-left: 10%;
    margin-bottom: 3%;
    color: #9BD7D5; /*blue*/
    font-family: 'Spartan';
    font-weight: bold;
}

    .description h1 {
        font-family: 'Lobster Two';
        font-size: 36pt;
        color: #FFF5C3; /*yellow*/
    }

    .description ul li{
        padding-top: 10px;
    }


.navigation {
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: #129793; /*teal*/
    height: 40%;
    border-radius: 25px;
    justify-content: space-around;
    padding: 15px 0px 15px 0px;
    width: 60%;
    align-self: center;
    border: solid;
    border-color: #FF7260;
    border-width: 5px;
}

    .navigation a {
        padding: 15px;
        color: #FFF5C3; /*yellow*/
        text-decoration: none;
        font-family: 'Spartan';
        font-weight: bold;
        transition: color .5s;
    }

        .navigation a:link {
            color: #FFF5C3;
        }

        .navigation a:visited {
            color: #FFF5C3;
        }

        .navigation a:hover {
            color: #FF7260; /*pink*/
        }
