.footer {
    float: right;
    position: relative;
    vertical-align: bottom;
}


body {
    background-color: #505050; /*black*/
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

.bigBeautifulTop {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}

    .bigBeautifulTop h1 {
        color: #FF7260; /*pink*/
        font-family: 'Lobster Two';
        font-size: 72pt;
    }

    .bigBeautifulTop a {
        width: 15%;
        height: auto;
        margin: 20px;
    }

    .bigBeautifulTop > a > img {
        width: 100%;
        height: auto;
    }

.contactUs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
    align-content: center;
    font-family: 'Spartan';
    font-weight: bold;
    color: #FFF5C3;
}

    .contactUs p {
        margin-right: 20px;
        margin-top: 8px;
    }

    .contactUs textarea {
        width: 200px;
        height: 25px;
        margin-right: 20px;
        font-size: 14pt;
        font-family: 'Spartan';
        color: #505050;
        padding-top: 8px;
    }

    .contactUs > input {
        width: 200px;
        height: 100px;
        border-radius: 25px;
        border: 5px solid;
        font-family: 'Spartan';
        font-weight: bold;
        font-size: 14pt;
    }

        .contactUs > input:disabled {
            background-color: #b2d6d5;
            color: #757474;
            border-color: #f5f0da;
        }

        .contactUs > input:enabled {
            transition-duration: 0.4s;
            background-color: #9BD7D5;
            color: #505050;
            border-color: #FFF5C3;
        }

            .contactUs > input:enabled:hover {
                background-color: #129793;
                border-color: #FF7260;
            }

        .contactUs > input.move {
            transform: rotate(360deg);
        }

#messageSent {
    display: none;
    font-family: 'Spartan';
    font-weight: bold;
    font-size: 18pt;
    color: #FFF5C3;
    text-align: center;
}

.featureCatBreed {
    display: flex;
    flex-direction: row;
    font-size: 11pt;
    font-family: 'Spartan';
    font-weight: bold;
    border-radius: 25px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
    border: 5px solid #9BD7D5;
    align-items: center;
    height: 200px;
}

    .featureCatBreed img {
        width: 30%;
        border-radius: 25px;
        height: auto;
    }

.featureCatBreedRight {
    display: flex;
    flex-direction: row;
    font-size: 11pt;
    font-family: 'Spartan';
    font-weight: bold;
    border-radius: 25px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
    border: 5px solid #9BD7D5;
    justify-content: flex-end;
    align-items: center;
    height: 200px;
}

    .featureCatBreedRight img {
        width: 30%;
        border-radius: 25px;
        height: auto;
    }

    .featureCatBreedRight > .boxForFormattingRight {
        display: flex;
    }

    .featureCatBreedRight > .boxForFormatting {
        display: none;
    }

.newCatBreed {
    display: flex;
    flex-direction: row;
    font-size: 11pt;
    font-family: 'Spartan';
    font-weight: bold;
    border: 5px dotted #FFF5C3;
    background-color: #9BD7D5;
    border-radius: 25px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
    align-items: center;
    height: 200px;
}

    .newCatBreed img {
        width: 30%;
        border-radius: 25px;
        height: auto;
    }

.boxForFormatting {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-bottom: 0;
}

    .boxForFormatting p {
        margin-left: 15px;
    }

    .boxForFormatting h1 {
        margin-bottom: 0;
    }

    .boxForFormatting > h1 > span {
        color: gray;
        font-size: 14pt;
    }

.boxForFormattingRight {
    width: 100%;
    justify-items: flex-end;
    display: flex;
    flex-direction: column;
}

    .boxForFormattingRight h1 {
        margin-bottom: 0;
        margin-left: 10px;
    }

    .boxForFormattingRight p {
        justify-self: flex-start;
        margin-left: 25px;
    }

    .boxForFormattingRight > h1 > span {
        color: gray;
        font-size: 14pt;
    }

.newCatBreedRight {
    display: flex;
    flex-direction: row;
    font-size: 11pt;
    font-family: 'Spartan';
    font-weight: bold;
    border: 5px dotted #FFF5C3; /*yellow*/
    background-color: #9BD7D5; /*blue*/
    border-radius: 25px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
    justify-content: flex-end;
    align-items: center;
    height: 200px;
}

    .newCatBreedRight img {
        width: 30%;
        border-radius: 25px;
        height: auto;
    }

    .newCatBreedRight > .boxForFormattingRight {
        display: flex;
    }

    .newCatBreedRight > .boxForFormatting {
        display: none;
    }


#frontpageGif {
    align-self: center;
    width: auto;
}

.description {
    position: relative;
    margin-top: 3%;
    margin-left: 10%;
    margin-bottom: 3%;
    margin-right: 10%;
    color: #9BD7D5; /*blue*/
    font-family: 'Spartan';
    font-weight: bold;
}

    .description h1 {
        font-family: 'Lobster Two';
        font-size: 36pt;
        color: #FFF5C3; /*yellow*/
    }

    .description ul li {
        padding-top: 10px;
    }


.navigation {
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: #129793; /*teal*/
    height: 40%;
    border-radius: 25px;
    justify-content: space-around;
    width: 60%;
    align-self: center;
    border: solid;
    border-color: #FF7260;
    border-width: 5px;
    flex-wrap: nowrap;
}

    .navigation a {
        padding: 15px;
        color: #FFF5C3; /*yellow*/
        text-decoration: none;
        font-family: 'Spartan';
        font-weight: bold;
        transition: color .5s;
    }

        .navigation a:link {
            color: #FFF5C3;
        }

        .navigation a:hover {
            color: #FF7260; /*pink*/
        }

    .navigation nav {
        display: flex;
        flex-direction: row;
    }

#email {
    width: 300px;
}

#message {
    width: 500px;
    height: 200px;
}

@media screen and (max-width: 991px) {
    .navigation {
        width: 80%;
    }

    .featureCatBreedRight {
        margin: 0;
    }

        .featureCatBreedRight img {
            flex-grow: 2;
        }

        .featureCatBreedRight h1, p {
            flex-grow: 1;
        }

    .featureCatBreed {
        margin: 0;
    }

        .featureCatBreed img {
            flex-grow: 2;
        }

        .featureCatBreed h1, p {
            flex-grow: 1;
        }

    .newCatBreed {
        margin: 0;
    }

        .newCatBreed img {
            flex-grow: 2;
        }

        .newCatBreed h1, p {
            flex-grow: 1;
        }

    .newCatBreedRight {
        margin: 0;
    }

        .newCatBreedRight img {
            flex-grow: 2;
        }

        .newCatBreedRight h1, p {
            flex-grow: 1;
        }
}

@media screen and (max-width: 767px) {
    .navigation nav {
        width: 100%;
        flex-direction: column;
        justify-content: space-around;
        font-size: 21pt;
    }

    .navigation a {
        align-self: center;
        padding: 10px;
    }

    .bigBeautifulTop {
        flex-direction: column;
        align-items: center;
    }

        .bigBeautifulTop h1 {
            margin: 5px;
        }

        .bigBeautifulTop a {
            width: 50%;
        }

    .featureCatBreed {
        margin: 0;
        flex-direction: column;
    }

        .featureCatBreed img {
            width: 100%;
            height: auto;
            align-self: center;
        }

    .featureCatBreedRight {
        margin: 0;
        flex-direction: column;
    }

    .featureCatBreedRight img {
        width: 100%;
        height: auto;
        align-self: center;
    }

    .featureCatBreedRight > .boxForFormattingRight {
        display: none;
    }

    .featureCatBreedRight > .boxForFormatting {
        display: flex;
    }

    .newCatBreed {
        margin: 0;
        flex-direction: column;
    }

        .newCatBreed img {
            width: 100%;
            height: auto;
            align-self: center;
        }

    .newCatBreedRight {
        margin: 0;
        flex-direction: column;
        justify-items: center;
    }

        .newCatBreedRight img {
            width: 100%;
            align-self: center;
            height: auto;
            border-radius: 25px;
        }

        .newCatBreedRight > .boxForFormattingRight {
            display: none;
        }

        .newCatBreedRight > .boxForFormatting {
            display: flex;
        }

    .contactUs {
        flex-direction: column;
        align-items: center;
        font-size: 18pt;
    }

        .contactUs textarea {
            width: 90%;
            height: 50px;
            margin-bottom: 20px;
            font-size: 16pt;
        }

    #email {
        width: 90%;
    }

    #message {
        width: 90%;
    }

    .contactUs > input {
        font-size: 18pt;
    }

    .newCatBreedRight {
        font-size: 21pt;
    }

    .newCatBreed {
        font-size: 21pt;
    }

    .boxForFormatting > h1 > span {
        font-size: 18pt;
    }

    .boxForFormattingRight > h1 > span {
        font-size: 18pt;
    }
}
